.hero-header {

	position: fixed;
	width: 100%;
	height: 100%;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 88;

	.media {
		@include bgimg();
		@extend .hero-header;
		position: absolute;
		opacity: 0;
		transform: translateZ(0) scale(1.015); 
    transition: opacity 555ms $easeInOutSine 100ms, transform 555ms $easeInOutSine 200ms;
		&.active {
			opacity: 1;
			transform: translateZ(0) scale(1);
		}
		&.unmount-transition {
			transition: opacity 400ms $easeInOutSine;
			transform: translateZ(0) scale(1);
		}
	}

	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: 9;
	  margin: 0;
	  max-width: none;
	  vertical-align: middle;
	  -ms-transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%); 
	}

	.overlay {

		@extend .hero-header;
		opacity: 0;
		transition: opacity 200ms $easeInOutSine !important;
		pointer-events: none;

		.kill-overflow & {
			//opacity: 1;
		}
		.kill-overlay & {
			display: none;
		}

	}

	&.active .overlay {
		pointer-events: all;
	}

	+ .entry-content {
		top: 50%;
	}

	.carousel, .carousel-cell {
		width: 100%;
		height: 100%;
	}

}


.hero-helper-arrow ~ .flickity-page-dots:nth-child(2n) {
  display: none;
}

.hero-carousel-paging {

	position: fixed;
	width: auto;
	bottom: 40px;
	width: auto;
	height: 18px;
	z-index: 9999;
	counter-reset: hero-carousel-paging;
	list-style: none;
	margin: 0 0 0 -5px;

	@include clft-anim-regular(15px);
	&.active {
		@include clft-anim-hover();
	}

	li.dot {

		width: 10px;
		height: 10px;
		margin: 0 5px;
		background: transparent;
		border: 2px solid #000;
		opacity: 1;
		transition: all 150ms linear;
		text-align: center;
		border-radius: 10px;
		opacity: 1;
		display: inline-block;

		/*&:after {
			content: counter(hero-carousel-paging, decimal-leading-zero);
			counter-increment: hero-carousel-paging;
			font-size: rem(15px);
			font-weight: 600;
			line-height: 22px;
			top: -1px;
			left: -1px;
			border-radius: 50%;
			transition: all 150ms linear;
			opacity: 0;
		}*/

		.no-touchevents &:hover {
			transform: scale(1.1);
		}

	}

}

body.show-hero-arrow {
	cursor: none;
}

#hero-arrow {

	display: none;
	.show-hero-arrow {
		display: block;
	}

	position: fixed;
	z-index: 9999;
//	transition: all 50ms $easeInOutSine;

	.arrow {
		display: block;
	}

	&.bottom .arrow {
		transform: rotate(90deg);
	}
	&.left .arrow {
		transform: rotate(180deg);
	}

}

// "Arrows"

.hero-carousel-nav-anim {

	display: none !important;

	position: absolute;
	top: 50%;
	height: 45px;
	width: 90px;
	z-index: 9999;
	cursor: pointer;
	margin-top: -25px;

	opacity: 0;
	visibility: hidden;
	transition: padding 100ms linear, opacity 200ms linear, visibility 200ms linear;

	&.init {
		opacity: 1;
		visibility: visible;
	}

	.no-touchevents &:hover {
		padding-left: 10px;
	}

}

.hero-carousel-prev {

	transform: rotate(180deg);
	left: calc((100vw - 1440px) / 2 );

	@include at-query($max, 1640px) {
		& {
			left: 100px;
		}
	}

}
.hero-carousel-next {

	right: calc((100vw - 1440px) / 2 );

	@include at-query($max, 1640px) {
		& {
			right: 100px;
		}
	}

}

.hero-helper-arrow {

	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	opacity: 0;
	visibility: hidden;
	width: 50px;
	height: 50px;
	z-index: 999;
	transition: all 300ms linear;
	cursor: pointer;

	.mouse {
	  position: absolute;
	  width: 23px;
	  height: 39px;
	  bottom: 40px;
	  left: 50%;
	  top: 0;
	  margin-left: -12px;
	  border-radius: 15px;
	  border: 2px solid;
	}

	.scroll {
	  display: block;
	  width: 3px;
	  height: 3px;
	  margin: 6px auto;
	  border-radius: 4px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
	}

	&.init {

		opacity: 1;
		visibility: visible;

		.mouse {
		  -webkit-animation: intro 1s;
		  animation: intro 1s;
		}

		.scroll {
		  -webkit-animation: finger 1s infinite;
		  animation: finger 1s infinite;
		}

	}

	.single-product & {
		display: none;
	}

}


@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

//

@keyframes slide-down-circle {

	0% {
		opacity: 0;
		top: -37px;
	}

	25% {
		opacity: 1;
		top: -27px;
	}

	45% {
		opacity: 1;
	}

	85% {
		opacity: 0;
	}

}

@keyframes slide-down-arrow {

	0% {
		opacity: 0;
		bottom: 10px;
	}

	25% {
		opacity: 1;
		bottom: -10px;
	}

	45% {
		opacity: 1;
	}

	85% {
		opacity: 0;
	}

}

//

body.hero-1 #content {
	/*position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	margin-top: -250px;*/
}

.entry-hero-tagline {

	z-index: 90;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	top: -120px;

	div {
		width: 100%;
	}
	&.hero-vertical-text- {
		top: 0 !important;
		div {
			align-self: flex-end;
		}
	}
	&.hero-vertical-text-1 {
		h1 {
			padding-bottom: 0 !important;
		}
	}
	
	* {
	//	width: 100%;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.page-template-template-portfolio & {
		padding-left: 30px;
	}

}

.hero-header .carousel .caption {

	position: absolute;
  bottom: 10%;
  left: 1%;
  z-index: 999;
  font-size: rem(17px);
  font-weight: 500;
  transform: rotate(-90deg);
  transform-origin: left;
  padding-top: 5px;

  @media all and (max-height: 600px) {
	  transform: rotate(0deg);
	  padding-left: 0;
	  padding-top: 0;
	  margin-left: -5px;
	  bottom: 15%;
  }

}