body {

	background: $bgColor;
	transition: background 250ms linear, width 250ms linear, margin 250ms linear !important;
	width: 100%;
	overflow-y: scroll;

	&.kill-overflow {
		position: fixed;
		height: 100%;
	}

}

#site {

	overflow: hidden;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	transition: left 400ms $easeInOutQuint, opacity 250ms $easeInOutQuint;
	position: relative;
	left: 0;
	top: 0;

	&.animate {
		transition: left 400ms $easeInOutQuint, top 470ms $easeInOutSine, opacity 470ms $easeInOutSine;
	}
	&.out {
		opacity: 0;
		top: -50px;
	}

}

html, body {
//	height: 100%;
}

.header-content-wrapper {
	min-height: 100%;
	//margin: 0 auto -100px; why?!
	margin: 0 auto;
}

.wrapper {

	max-width: 1440px;
	margin: auto;
	position: relative;

	@include at-query($max, 1640px) {

		& {
			padding: 0 100px;
			max-width: auto;
			width: 100%;
		}

	}

}

#content {
	padding-bottom: 250px;
	flex: 1;
	body:not(.blog) & {
	//	overflow: hidden;
	}
	/*.kill-overflow & {
		margin-top: 0 !important;
	}*/
}

#primary {

	transition: all 300ms $easeInOutSine;
	z-index: 999;

	&.close {

		opacity: 0;
		transform: translate3d(0, -20px, 0);

		.summary.stick {
			right: 0 !important;
		}

	}

}

.entry-content {

	position: relative;
	z-index: 98;

	.grid:not(:last-of-type) {
		margin-bottom: -50px;
	}

}

.grid__item.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	clear: left;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	left: 11px;
}

// Page content animations

.entry-content > *:not(.grid), .entry-content > .grid > .grid__item, .entry-content > p > img, .entry-content > p > iframe, .entry-footer, .entry-archive, .single-product .summary > *, .single-product .images-view, .single-product .thumbnails img, .single-product .content-holder .grid__item, .entry-navigation, .shop_table tr, .cart-collaterals, .page-template-template-portfolio .entry-hero-tagline, .page-template-template-portfolio .post-navigation {

	@include clft-anim-regular(15px);
	&.active {
		@include clft-anim-hover();
	}

}

.shop_table tr.no-transition, .cart-collaterals.no-transition {
	transition: none !important;
}

// Preloader

@keyframes blink {
  0% {
		opacity: .2;
  }
  20% {
		opacity: 1;
  }
  100% {
		opacity: .2;
  }
}

#preloader {

	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -12px;
	z-index: 99999;
	opacity: 1;
	transition: all 150ms linear;
	pointer-events: none;

	&.all-aboard {
	  opacity: 0;
	}

	.sidebar-opened & {
		margin-left: 260px;
	}

	span {

		font-family: Georgia, serif;
		font-size: 28px;
		line-height: 28px;
		color: $txtColor;

    animation-name: blink;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:first-child {
    	padding-left: 2px;
    }

    &:nth-child(2) {
    	animation-delay: .3s;
    }

    &:nth-child(3) {
			animation-delay: .6s;
    }

	}

}

/* other - parallax and padding !! */

.parallax-bg {
	position: relative;
}
.parallax-bg:before, .parallax-bg {
  position: relative;
  background: inherit;
  content: "";
  display: block;
  width: calc(100vw + 30px);
  height: 100%;
  left: calc(((100vw - 100%) / 2) * -1);
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  .medge-fix & {
  	background-position: center center !important;
  }
}

.top-large-padding {
	padding-top: 250px;
}
.bottom-large-padding {
	padding-bottom: 250px;
}

.top-medium-padding {
	padding-top: 100px;
}
.bottom-medium-padding {
	padding-bottom: 100px;
}

.top-small-padding {
	padding-top: 50px;
	&.important {
		padding-top: 50px !important;
	}
}
.bottom-small-padding {
	padding-bottom: 50px;
	&.important {
		padding-bottom: 50px !important;
	}
}

.kcm .grid__item.no-right-margin {
	padding-right: 0;
}
.kcm .grid__item.no-bottom-margin {
	margin-bottom: 0;
}

.full-width {

	width: calc(100vw + 40px) !important;
	position: relative;

	left: calc(((100vw - 1440px) / 2) * -1) !important;
	@include at-query('', 1440px, 1640px) {
		left: calc(((100vw - 1240px) / 2) * -1) !important;
	}
	@include at-query($max, 1440px) {
		left: 0 !important;
	}
	@include at-query('', 1366px, 1440px) {
		margin-left: -110px !important;
	}
	@include at-query('', 769px, 1366px) {
		margin-left: -70px !important;
	}
	@include at-query('', 480px, 769px) {
		margin-left: -45px !important;
	}
	@include at-query($max, 480px) {
		margin-left: -35px !important;
	}

	img, a {
		max-width: none;
		width: 100%;
	}

}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-skin {
	padding: 50px !important;
	@media all and (max-width: 640px) {
		& {
			padding: 0 !important;
		}
	}
	box-shadow: none !important;
}
.fancybox-close {
  right: 25px;
  top: 50px;
	@media all and (max-width: 640px) {
		& {
			right: 0;
			top: 25px;
		}
	}
}


.flickity-prev-next-button {

	width: 35px;
	height: 35px;
	transform: none;
	top: auto;
	bottom: 40px;

	svg {
		width: 100%;
		height: 100%;
		left: 0;
		text-align: center;
		path {
			stroke: none !important;
			position: relative;
			transform: scale(3.2);
		}
	}

	&.previous {
		left: auto;
		right: 100px;
		svg {
			left: 25px;
			top: 23px;
			transform-origin: top left;
			transform: rotate(180deg);
		}
	}
	&.next {
		right: 50px;
		svg {
			left: auto;
			right: -10px;
			top: 12px;
		}
	}

}


body.gap-0, body.gap- {
	#content {
		padding-top: 0 !important;
	}
}

.calafate-slider:not(.flickity-enabled) .carousel-cell {
	opacity: .001;
}