button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: black;
	border-radius: 3px;
	background: transparent;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover,
	&:active,
	&:focus {
		background: white;
                color: black;
	}
}
