$bgColor: #000;
$txtColor: #fff;
$accColor: #0ff1b3;
$accColorFrgd: #111;

$cmtsBgColor: #fff;
$cmtsTxtColor: #000;

$sideBgColor: #191919;
$sideTxtColor: #fff;

$headFont: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$menuFont: 'Helvetica Neue', Helvetica, sans-serif;
$bodyFont: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$quoteFont: 'Crimson Text', Cambria, Georgia, serif;

$baseFontSize: 16px; // Henceforth known as 1rem

$retinaDisplay: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";